<h1>Make your Pick for <%= @prediction.series.team1.short_name %> vs. <%= @prediction.series.team2.short_name %>!</h1>

<%= form_with model: @prediction, url: create_prediction_path(id: @prediction.series_id) do |form| %>
<%= @prediction.user_id %>
  <div class="form-group">
    <%= form.label :winner, "Your Winner" %>
    <%= collection_select(:prediction, :winner_id, @prediction.series.teams, :id, :name) %>
  </div>
  <div class="form-group">
    <%= form.label :winner, "# of Games" %>
    <%= form.select :games, [4, 5, 6, 7] %>
  </div>
  <% if flash[:errors] %>
    <ul class="error">
      <% flash[:errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form.submit "Make Prediction", class: "btn btn-primary" %>
<% end %>