<h1>List of all Playoff Series in 2021</h1>

<p>Make your picks for the next round below:</p>

<table>
  <thead>
    <tr>
      <th>Round</th>
      <th>Higher Seed</th>
      <th>Lower Seed</th>
      <th>Score</th>
      <th>Picks Deadline (PDT)</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @series.each do |series| %>
    <tr>
      <td><%= series.round.fancy_name %>
      <td><%= image_tag series.team1.logo_src, alt: series.team1.short_name, title: series.team1.name %></td>
      <td><%= image_tag series.team2.logo_src, alt: series.team2.short_name, title: series.team2.name %></td>
      <td><%= series.summary %></td>
      <td><%= series.start_time_formatted %></td>
      <td><%= link_to "Details", series_path(id: series.id) %></td>
      <td>
        <% if series.start_time && series.start_time < Time.now %>
          Picks cannot be made after the series starts.
        <% elsif series.round.id == 4 && series.user_has_prediction?(session[:current_user]) %>
          You cannot change a Finals pick after you've submitted it.
        <% else %>
          <%= link_to session[:current_user] && series.user_has_prediction?(session[:current_user]) ? "Change your Pick!" : "Make your Pick!", new_prediction_path(id: series.id) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>